*{
    margin: 0;
}
nav{
    height: 5vh;
    background-color: chartreuse;
    position: fixed;
    top: 0;
    width: 100%;
}

a{
    /* background-color: blue; */
    border-radius: 15%;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    width: 16.66%;


}

main{
    min-height: 89vh;
    /* background-color: rgba(255, 127, 80, 0.603); */
}
.home-container,
.projects-container, 
.about-container, 
.hire-container,
.contact-container,
.others-container {
height: 95vh;
}

.home-container{
    background-color: rgba(245, 227, 66, 0.603)
}

.projects-container{
    background-color: rgba(80, 243, 255, 0.603)
}

.about-container{
    background-color: rgba(80, 176, 255, 0.603)
}

.hire-container{
    background-color: rgba(162, 80, 255, 0.603)
}

.contact-container{
    background-color: rgba(80, 255, 211, 0.603)
}

.others-container{
    background-color: rgba(109, 221, 134, 0.603)
}


footer{
    height: 6vh;
    background-color: cornflowerblue;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  /* .fa:hover {
    opacity: 0.7;
    font-size: 80px;
    padding: 30px;
    width: 80px;
  } */